@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background: url("bg.jpg") no-repeat;
}
.kotak{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 5px;
  width: 450px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.kotak h1{
  text-align: center;
  width: 100%;
  padding: 10px 0;
  font-size: 35px;
}
.kotak .suhu{
  padding: 10px;
  width: 50%;
}
.kotak .suhu label{
  margin: 5px 0;
  font-size: 30px;
}
.kotak .suhu input{
  width: 100%;
  padding: 10px 15px;
  font-size: 25px;
  border: 1px solid black;
  outline: none;
  transition: border 0.3s;
  border-radius: 5px;
}
.kotak .suhu input:focus{
  border: 1px solid crimson;
}

@media (max-width: 945px){
  .kotak{
    width: 350px;
  }
  .kotak .suhu{
    width: 100%;
  }
}